# Predict Transfer fee

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

In [8]:
df = pd.read_csv(r'Machine_Learning_Supervised\football_transfer_fee\archive\final_data.csv')

In [12]:
df.head(3)

                                player  ... winger
0   /david-de-gea/profil/spieler/59377  ...      0
1  /jack-butland/profil/spieler/128899  ...      0
2     /tom-heaton/profil/spieler/34130  ...      0

[3 rows x 22 columns]

In [14]:
df.describe()

             height           age  ...  position_encoded        winger
count  10754.000000  10754.000000  ...      10754.000000  10754.000000
mean     181.240353     26.041903  ...          2.713223      0.307513
std        6.969818      4.777629  ...          0.986356      0.461485
min      156.000000     15.000000  ...          1.000000      0.000000
25%      176.000000     22.000000  ...          2.000000      0.000000
50%      181.240353     26.000000  ...          3.000000      0.000000
75%      186.000000     29.000000  ...          4.000000      1.000000
max      206.000000     43.000000  ...          4.000000      1.000000

[8 rows x 18 columns]

In [15]:
df.shape

(10754, 22)

In [18]:
df.isna().any().sum()

0

In [23]:
df.duplicated().sum()

0