In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, time, date

In [35]:
got =pd.read_csv(r'C:\Users\godwi\GitHub\Python-Pandas\game of throne\Ads Data Revenue.csv')

In [57]:
got.sort_values( 'Impressions', ascending = False)

,Campaign ID,Timestamp,Date,InventoryType,Ad Type,Available_Impressions,Matched_Queries,Impressions,Clicks,Spend,Fee,Revenue,CTR,CPM,CPC
959,122958,2014-09-08-16,9/8/2014,Format3,Inter221,"2,714,334","1,077,683",999848,5832,1639.33,35%,1065.56,0.58%,$1.64,$0.28
878,122877,2014-09-08-09,9/8/2014,Format2,Inter228,"18,389,539","10,322,261",9971257,18942,19841.77,23%,15278.17,0.19%,$1.99,$1.05
729,122728,2014-09-10-02,9/10/2014,Format4,Inter225,"141,654","116,982",99431,16163,2130.49,35%,1384.82,16.26%,$21.43,$0.13
398,122397,2014-09-06-22,9/6/2014,Format3,inter230,"3,546,552","1,081,435",991827,5669,1171.41,35%,761.42,0.57%,$1.18,$0.21
905,122904,2014-09-08-07,9/8/2014,Format5,Inter223,"174,902","110,980",99056,14264,1382.37,35%,898.54,14.40%,$13.96,$0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,122073,2014-09-06-04,9/6/2014,Format3,Inter224,"183,678","105,341",100458,197,116.99,35%,76.04,0.20%,$1.16,$0.59
999,122998,2014-09-08-09,9/8/2014,Format5,Inter220,"180,764","115,296",100271,12560,1382.47,35%,898.61,12.53%,$13.79,$0.11
404,122403,2014-09-06-21,9/6/2014,Format2,Inter219,"18,738,662","10,459,977",10014036,18318,13094.92,25%,9821.19,0.18%,$1.31,$0.71
921,122920,2014-09-08-11,9/8/2014,Format5,Inter227,"180,799","116,713",100091,12107,1327.33,35%,862.76,12.10%,$13.26,$0.11
568,122567,2014-09-07-00,9/7/2014,Format5,Inter222,1,0,0,0,0.00,35%,0.00,0,$0.00,$0.00

In [110]:
Spend = got.Spend.astype(float).replace('\$|,' , '', regex = True, inplace = True) 
got.Impressions.astype(int).replace('\$|,' , '', regex = True, inplace = True)
got.Clicks.astype(int).replace('\$|,' , '', regex = True, inplace = True)
got.Revenue.astype(float).replace('\$|,' , '', regex = True, inplace = True)
got.Fee.replace('\%' ,  '' , regex = True , inplace = True)

In [111]:
got.Fee.sample(10)

627    35
76     33
738    35
386    30
221    35
346    35
905    35
569    35
148    35
482    35
Name: Fee, dtype: object

In [123]:
got.rename({'Revenue' :'Revenue'}, axis = 1)

,Campaign ID,Timestamp,Date,InventoryType,Ad Type,Available_Impressions,Matched_Queries,Impressions,Clicks,Spend,Fee,Revenue,CTR,CPM,CPC
0,121999,2014-09-05-03,9/5/2014,Format6,Inter219,"4,015","2,217",581,81,11.57,35,7.52,13.94%,$19.92,$0.14
1,122000,2014-09-05-08,9/5/2014,Format4,Inter220,"17,201","9,207",3506,409,75.99,35,49.40,11.67%,$21.68,$0.19
2,122001,2014-09-05-16,9/5/2014,Format4,Inter221,"43,703","22,248",5718,443,45.47,35,29.55,7.75%,$7.95,$0.10
3,122002,2014-09-05-01,9/5/2014,Format1,Inter218,633,93,93,0,0.00,35,0.00,0.00%,$0.00,$0.00
4,122003,2014-09-05-10,9/5/2014,Format4,Inter222,"15,333","9,000",2829,372,55.35,35,35.98,13.15%,$19.56,$0.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,122995,2014-09-08-01,9/8/2014,Format3,Inter229,"1,193,013","500,549",467284,1674,733.24,35,476.60,0.36%,$1.57,$0.44
997,122996,2014-09-07-18,9/7/2014,Format4,Inter225,"41,516","17,713",5762,415,50.05,35,32.54,7.20%,$8.69,$0.12
998,122997,2014-09-07-21,9/7/2014,Format3,inter230,"2,850,746","1,253,651",1194360,4686,1318.23,35,856.85,0.39%,$1.10,$0.28
999,122998,2014-09-08-09,9/8/2014,Format5,Inter220,"180,764","115,296",100271,12560,1382.47,35,898.61,12.53%,$13.79,$0.11
1000,122999,2014-09-08-09,9/8/2014,Format3,Inter217,"1,040,044","564,493",539799,3020,1534.82,35,997.63,0.56%,$2.84,$0.51

In [127]:
got.to_csv('rev_data_got.csv')

In [131]:
got.columns

Index(['Campaign ID', 'Timestamp', 'Date', 'InventoryType', 'Ad Type',
       'Available_Impressions', 'Matched_Queries', 'Impressions', 'Clicks',
       'Spend', 'Fee', 'Revenue', 'CTR', 'CPM', 'CPC'],
      dtype='object')

In [134]:
# SUM of spend by month
monthly_spend = got.loc[:, ['Date','Spend']]
monthly_spend

          Date    Spend
0     9/5/2014    11.57
1     9/5/2014    75.99
2     9/5/2014    45.47
3     9/5/2014     0.00
4     9/5/2014    55.35
...        ...      ...
996   9/8/2014   733.24
997   9/7/2014    50.05
998   9/7/2014  1318.23
999   9/8/2014  1382.47
1000  9/8/2014  1534.82

[1001 rows x 2 columns]

In [136]:
monthly_spend['month'] = pd.DatetimeIndex(monthly_spend['Date']).month

In [160]:
monthly_spend['Spend'] = monthly_spend['Spend'].astype(float)

In [166]:
monthly_spend.groupby('month').sum()

            Spend
month
9      2872574.95

In [174]:
from dateutil import parser