In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, time, date
from dateutil import parser
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
got =pd.read_csv(r'Ads Data Revenue.csv')

In [3]:
got.sort_values( 'Impressions', ascending = False)

,Campaign ID,Timestamp,Date,InventoryType,Ad Type,Available_Impressions,Matched_Queries,Impressions,Clicks,Spend,Fee,Revenue,CTR,CPM,CPC
959,122958,2014-09-08-16,9/8/2014,Format3,Inter221,"2,714,334","1,077,683","999,848","5,832","$1,639.33",35%,"$1,065.56",0.58%,$1.64,$0.28
398,122397,2014-09-06-22,9/6/2014,Format3,inter230,"3,546,552","1,081,435","991,827","5,669","$1,171.41",35%,$761.42,0.57%,$1.18,$0.21
729,122728,2014-09-10-02,9/10/2014,Format4,Inter225,"141,654","116,982","99,431","16,163","$2,130.49",35%,"$1,384.82",16.26%,$21.43,$0.13
905,122904,2014-09-08-07,9/8/2014,Format5,Inter223,"174,902","110,980","99,056","14,264","$1,382.37",35%,$898.54,14.40%,$13.96,$0.10
620,122619,2014-09-09-22,9/9/2014,Format3,Inter221,"2,320,777","1,028,742","985,845","3,422",$998.22,35%,$648.84,0.35%,$1.01,$0.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,122125,2014-09-06-16,9/6/2014,Format3,Inter224,"2,791,439","1,098,881","1,022,550","6,017","$1,529.16",35%,$993.95,0.59%,$1.50,$0.25
446,122445,2014-09-07-02,9/7/2014,Format1,inter230,"1,524,194","1,053,054","1,019,730","2,324","$1,599.45",35%,"$1,039.64",0.23%,$1.57,$0.69
621,122620,2014-09-10-16,9/10/2014,Format3,Inter222,"2,542,196","1,088,122","1,016,953","6,001","$1,732.19",35%,"$1,125.92",0.59%,$1.70,$0.29
31,122030,2014-09-06-15,9/6/2014,Format3,Inter218,"2,648,114","1,087,346","1,010,383","6,034","$1,588.55",35%,"$1,032.56",0.60%,$1.57,$0.26
568,122567,2014-09-07-00,9/7/2014,Format5,Inter222,1,0,0,0,$0.00,35%,$0.00,0,$0.00,$0.00

In [4]:
got.Spend.replace('\$|,' , '', regex = True, inplace = True) 
got.Impressions.replace('\$|,' , '', regex = True, inplace = True)
got.Clicks.replace('\$|,' , '', regex = True, inplace = True)
got.Revenue.replace('\$|,' , '', regex = True, inplace = True)
got.Fee.replace('\%' ,  '' , regex = True , inplace = True)

In [5]:
got.Fee.sample(10)

309    35
565    35
793    35
549    35
895    35
942    35
348    23
853    21
660    35
308    35
Name: Fee, dtype: object

In [6]:
got.rename({'Revenue' :'Revenue'}, axis = 1)

,Campaign ID,Timestamp,Date,InventoryType,Ad Type,Available_Impressions,Matched_Queries,Impressions,Clicks,Spend,Fee,Revenue,CTR,CPM,CPC
0,121999,2014-09-05-03,9/5/2014,Format6,Inter219,"4,015","2,217",581,81,11.57,35,7.52,13.94%,$19.92,$0.14
1,122000,2014-09-05-08,9/5/2014,Format4,Inter220,"17,201","9,207",3506,409,75.99,35,49.40,11.67%,$21.68,$0.19
2,122001,2014-09-05-16,9/5/2014,Format4,Inter221,"43,703","22,248",5718,443,45.47,35,29.55,7.75%,$7.95,$0.10
3,122002,2014-09-05-01,9/5/2014,Format1,Inter218,633,93,93,0,0.00,35,0.00,0.00%,$0.00,$0.00
4,122003,2014-09-05-10,9/5/2014,Format4,Inter222,"15,333","9,000",2829,372,55.35,35,35.98,13.15%,$19.56,$0.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,122995,2014-09-08-01,9/8/2014,Format3,Inter229,"1,193,013","500,549",467284,1674,733.24,35,476.60,0.36%,$1.57,$0.44
997,122996,2014-09-07-18,9/7/2014,Format4,Inter225,"41,516","17,713",5762,415,50.05,35,32.54,7.20%,$8.69,$0.12
998,122997,2014-09-07-21,9/7/2014,Format3,inter230,"2,850,746","1,253,651",1194360,4686,1318.23,35,856.85,0.39%,$1.10,$0.28
999,122998,2014-09-08-09,9/8/2014,Format5,Inter220,"180,764","115,296",100271,12560,1382.47,35,898.61,12.53%,$13.79,$0.11
1000,122999,2014-09-08-09,9/8/2014,Format3,Inter217,"1,040,044","564,493",539799,3020,1534.82,35,997.63,0.56%,$2.84,$0.51

In [7]:
# got.to_csv('rev_data_got.csv')

In [8]:
got.Date = pd.to_datetime(got['Date'])

In [9]:
got.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Campaign ID            1001 non-null   int64
 1   Timestamp              1001 non-null   object
 2   Date                   1001 non-null   datetime64[ns]
 3   InventoryType          1001 non-null   object
 4   Ad Type                1001 non-null   object
 5   Available_Impressions  1001 non-null   object
 6   Matched_Queries        1001 non-null   object
 7   Impressions            1001 non-null   object
 8   Clicks                 1001 non-null   object
 9   Spend                  1001 non-null   object
 10  Fee                    1001 non-null   object
 11  Revenue                1001 non-null   object
 12  CTR                    1001 non-null   object
 13  CPM                    1001 non-null   object
 14  CPC                    1001 non-null   object
dtypes: datetime64[ns](1), int64(1), object(13)
memory usage: 117.4+ KB

In [10]:
pd.to_datetime('May 23 2019')

Timestamp('2019-05-23 00:00:00')

In [11]:
parser.parse('May 21 2019')

datetime.datetime(2019, 5, 21, 0, 0)

In [12]:
dater = ['2019/12/01' , '2022/02/01']
timer = ['12:02' , '07:23']

In [13]:
chest = pd.DataFrame(dater, timer).rename({0 : 'date'}, axis = 1)
chest = chest.reset_index().rename({'index' :'time'}, axis = 1).reindex(['date','time'], axis = 1)
chest

         date   time
0  2019/12/01  12:02
1  2022/02/01  07:23

In [14]:
got['Campaign ID'].nunique()

1001

In [15]:
got.shape

(1001, 15)